<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Template</title>
  </head>
  <body>
    <h1>User Page</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus et
      molestiae fuga libero sequi rerum officia recusandae dicta laboriosam in
      numquam necessitatibus omnis facilis, tempora consequatur magnam minima
      ipsum quis perferendis soluta, aspernatur animi. Pariatur itaque facilis
      ullam deserunt ad dolor iste inventore, laborum repellendus, eligendi
      repellat. Placeat molestias doloremque earum deserunt laboriosam
      blanditiis debitis nihil, quas ab vitae similique harum necessitatibus
      veniam facere aspernatur! Nihil reiciendis animi unde sunt obcaecati. Id,
      perspiciatis sint? Iusto nostrum libero quia, dolorem earum incidunt
      adipisci mollitia unde nam molestias veniam modi iste voluptates
      accusantium voluptatem sapiente, maiores odio explicabo! Officiis
      temporibus perspiciatis dicta aut beatae reiciendis, minus voluptatibus
      recusandae in possimus soluta dolore explicabo odit veritatis sed
      distinctio neque commodi ex, quibusdam ipsum, hic ullam? Ratione dolor
      vero sit quis. Vel incidunt obcaecati laborum aliquam veritatis quibusdam
      laudantium exercitationem, corrupti quas corporis nihil quo, dicta
      asperiores nobis adipisci, beatae velit dignissimos enim. Nobis aut
      impedit ducimus ab odio at officia sapiente, dolore, ipsa dolor odit
      molestiae vitae inventore libero quidem et harum aliquid quis, expedita
      eveniet facere explicabo nostrum. Optio eius assumenda tenetur natus
      deserunt debitis, provident quis quae minus dolorum vitae obcaecati
      necessitatibus explicabo ea consectetur praesentium. Totam nulla ratione
      iste commodi?
    </p>
  </body>
</html>